*.swp
*.iml
*.ipr
*.iws
tmp*
mem.*
.idea
*.class
target*
*weekly.png
*~
out
*.log
uiapp/modules*
system.out
nbproject
*.dump
module_*.xml
modules/*
lib/
.classpath
.project
eclipse
.settings
classes
public/*.pdf
db/h2
public/Templates/*.pdf
precompiled
*JJ.css
*JJ.js
template-src
*.jasper
public/*.pdf
public/Templates/*.pdf
public/Templates/InvoiceTemplates/*.pdf
