#{extends 'main.html' /}
#{if district!=null || state!=null}
    #{set title: "Notary Public in "+district+" "+state /}
#{/if}
#{set title:'Notary Public in India, Bangalore, Mumbai, Delhi, Chennai, Calcutta' /}
<div class="jumbotron">
    <div class="container">
        <h1>India Notary Public</h1>
        <p>Find a notary public in your area!</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <form action="/" method="post">
            <fieldset>
                <legend>Find a Notary</legend>
                <div class="control-group">
                    <label class="control-label" for="district">Area/District/Location</label>

                    <div class="controls">
                        <input name="district" placeholder="Enter some terms" id="district" value="${district}"
                               class="span12"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="createdBy">State</label>

                    <div class="controls">
                        <select name="state" id="createdBy" class="span12">
                            <option value="">All</option>
                        #{list items:states,as:'i'}
                            <option value="${i}" #{if i==state}selected=""#{/if}>${i}</option>
                        #{/list}
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn  btn-primary">Search</button>
                        <a href="/" class="btn btn-warning">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span10">
        <h5>Notaries</h5>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sl.No</th>
                <th>Name</th>
                <th>Address</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            #{list items:search, as:'n'}
            <tr>
                <td>${n.slno}</td>
                <td>${n.name}</td>
                <td>${n.address}</td>
                <td>
                    <a href="/notary/${n.area}/${n.id}">Details</a>
                </td>
            </tr>
            #{/list}
            #{if search.size()==0}
            <td colspan="4">
                <h5>${mesg}</h5>
            </td>
            #{/if}
            </tbody>
        </table>
    </div>
</div>