#{extends 'main.html' /}
<script>
    var map;

    function initialize() {
        var mapOptions = {
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'),
                mapOptions);
        geocoder = new google.maps.Geocoder();
        function codeAddress(address, tryAgain) {
            geocoder.geocode( { 'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var position = results[0].geometry.location;
                    map.setCenter(position);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: position
                    });
                    var infowindow = new google.maps.InfoWindow({
                        map: map,
                        position: position,
                        content: address
                    });

                    map.setCenter(position);
                } else {
                    if(tryAgain){
                        codeAddress('${notary.area}', false);
                    }
                }
            });
        }
        codeAddress('${notary.address}',true);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
#{set title:'Notary Public in India '+notary.area /}
<div class="row-fluid">
    <div class="span12">
        <h3>Details of '${notary.name}'</h3>

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td rowspan="3">
                    <strong>${notary.name}</strong>
                </td>
            </tr>
            <tr>
                <td>
                    Address : <em>${notary.address}</em>
                </td>
                <td>Area : <em>${notary.area}</em></td>
            </tr>
            <tr>
                <td>Phone Number: ${notary.phno}</td>
                <td>Fee Details: ${notary.feeDetails}</td>
            </tr>
            </tbody>
        </table>
        <!-- todo: map comes here -->
        <div class="row-fluid">
            <div class="span3">&nbsp;</div>
            <div class="span6">
                <div id="map_canvas" style="height:500px"></div>
            </div>
            <div class="span3">&nbsp;</div>
        </div>
        <!-- todo: edit options -->
    </div>
</div>